/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: maroon;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
  }
emoji{
  font-size:50px;
  text-align: center;
  padding: 300px;
}
/* Estilizando o botão do menu */
#menu-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    background: #333;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#prof-btn {
  position: fixed;
    top: 25px;
    right: 15px;
    background: #333;
    color: white;
    border: none;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
  
}
/* Estilizando a barra lateral */
#sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Escondida inicialmente */
    width: 250px;
    height: 100%;
    background: #222;
    color: white;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

/* Botão de fechar */
#close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

/* Lista de links */
#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 15px;
    text-align: center;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background: #444;
}

/* Ajuste para mostrar o menu */
#sidebar.active {
    left: 0;
}
/*pra ficar um do lado do outro*/
.contentflex{
    margin-left: 20px;
    padding: 20px;
  	display: flex;
  	justify-content: space-between
}

/* Conteúdo principal */
.content {
    margin-left: 20px;
    padding: 20px;
  	}
#divBusca{
  margin-top: 5px;
  background-color:#2F4F4F;
  border-radius:15px;
  width:300px;
  height:40px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:18px;
  border:none;
  height:32px;
  width:260px;
}
/*imagens com borda arredondada*/

.roundedimg {
  border-radius: 20px;
  width: 300px;
  height: auto;
  transition: transform 0.3s; /* Efeito de hover suave */
}

.roundedimg:hover {
  transform: scale(1.05); /* Aumenta ligeiramente ao passar o mouse */
}
/*CLASSE PARA IMAGENS DE CARTA*/
.cardimg {
  width: 250px; 
  height: 350px; 
}

#addbtn {
  position: fixed;
  	bottom: 30px;
    right: 15px;
    background: #333;
    color: white;
    border: none;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    border-radius: 50px;
  
}